:host {
	inline-size: var(--checker-diameter-px);
	color: var(--player-current-checker-text-color);
	background: var(--player-current-checker-background);
}

:host(.flat) {
	block-size: var(--checker-diameter-px);
	clip-path: circle(var(--checker-radius-px));
}

:host(.upright) {
	inline-size: var(--checker-thickness-px);
	border-radius: 2px;
}
