:host {
	color: var(--player-current-checker-text-color);
	background: var(--player-current-checker-background);
}

:host(.flat) {
	aspect-ratio: 1;
	inline-size: calc(--checker-diameter-unitless() * .21875cqmin);
	border-radius: 50%;
}

:host(.upright) {
	inline-size: calc(--checker-thickness-unitless() * .21875cqmin);
	border-radius: .4375cqmin;
}
