:host {
	inline-size: calc(var(--checker-diameter-unitless) * .21875cqmin);
	color: var(--player-current-checker-text-color);
	background: var(--player-current-checker-background);
}

:host(.flat) {
	aspect-ratio: 1;
	border-radius: 50%;
}

:host(.upright) {
	inline-size: calc(var(--checker-thickness-unitless) * .21875cqmin);
	border-radius: .4375cqmin;
}
