:host {
	inline-size: var(--checker-diameter-length);
	color: var(--player-current-checker-text-color);
	background: var(--player-current-checker-background);
}

:host(.flat) {
	aspect-ratio: 1;
	clip-path: circle(var(--checker-radius-length));
}

:host(.upright) {
	inline-size: var(--checker-thickness-length);
	border-radius: 2px;
}
