@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flex-basis {
	from {
		flex-basis: 0;
	}
	to {
		flex-basis: calc((var(--die-side-length-unitless) + 8) * .21875cqmin);
	}
}

:host {
	pointer-events: none;

	display: flex;
	flex-direction: column;

	inline-size: 100%;
	margin-block-end: calc(16 * .21875cqmin);

	> #dice-swap {
		block-size: calc(12 * .21875cqmin);
		visibility: hidden;
	}

	> #dice {
		display: flex;
		justify-content: center;

		margin: 0;
		padding: 0;

		list-style-type: none;

		&.swapped > veyndan-die:first-child {
			order: 1;
		}

		> veyndan-die {
			overflow: hidden;
			flex: 0 1 calc((var(--die-side-length-unitless) + 8) * .21875cqmin);

			&:nth-child(n + 3) {
				animation: .5s .2s backwards flex-basis,
				.2s .8125s backwards fade-in;
			}
		}
	}
}

/*noinspection Stylelint*/
:host:has(> #dice > veyndan-die:not(.rolling):first-child:nth-last-child(2)) {
	pointer-events: auto;
	cursor: pointer;

	> #dice-swap {
		visibility: visible;
	}
}
