:host {
	position: relative;

	display: flex;
	align-items: center;
	justify-content: center;

	inline-size: calc(var(--die-side-length-length) + 3.0625cqmin);
	block-size: calc(var(--die-side-length-length) + 3.0625cqmin);

	& > .motion-lines {
		position: absolute;
		visibility: hidden;

		& > path {
			fill: none;
			stroke: var(--player-current-checker-text-color);
			stroke-linecap: round;
		}

		&:first-of-type {
			inset-block-start: 0;
			inset-inline-start: 0;
		}

		&:last-of-type {
			inset-block-end: 0;
			inset-inline-end: 0;
			rotate: .5turn;
		}

		:host(.rolling) & {
			visibility: visible;
		}
	}

	& > .pips {
		--pip-diameter: 1.75cqmin;

		position: relative;

		display: grid;
		grid-template: repeat(3, var(--pip-diameter)) / repeat(3, var(--pip-diameter));
		gap: .21875cqmin;
		align-content: center;
		justify-content: center;

		inline-size: var(--die-side-length-length);
		block-size: var(--die-side-length-length);
		border-radius: .875cqmin;

		background: var(--player-current-checker-background);

		.pip {
			border-radius: 50%;
			visibility: hidden;
			background: var(--player-current-checker-text-color);
		}
	}
}

:host([data-played-at]) {
	opacity: .5;
}

:host([data-value="1"]) > .pips > .pip {
	&:nth-of-type(5) {
		visibility: visible;
	}
}

:host([data-value="2"]) > .pips > .pip {
	&:nth-of-type(1),
	&:nth-of-type(9) {
		visibility: visible;
	}
}

:host([data-value="3"]) > .pips > .pip {
	&:nth-of-type(1),
	&:nth-of-type(5),
	&:nth-of-type(9) {
		visibility: visible;
	}
}

:host([data-value="4"]) > .pips > .pip {
	&:nth-of-type(1),
	&:nth-of-type(3),
	&:nth-of-type(7),
	&:nth-of-type(9) {
		visibility: visible;
	}
}

:host([data-value="5"]) > .pips > .pip {
	&:nth-of-type(1),
	&:nth-of-type(3),
	&:nth-of-type(5),
	&:nth-of-type(7),
	&:nth-of-type(9) {
		visibility: visible;
	}
}

:host([data-value="6"]) > .pips > .pip {
	&:nth-of-type(1),
	&:nth-of-type(3),
	&:nth-of-type(4),
	&:nth-of-type(6),
	&:nth-of-type(7),
	&:nth-of-type(9) {
		visibility: visible;
	}
}
