@layer reset {
	*, ::before, ::after {
		box-sizing: border-box;
	}

	body {
		margin: 0;
	}
}

@layer typography {
	.typography-body-large-700 {
		font: 700 20px/1 system-ui;
	}

	.typography-body-medium-700 {
		font: 700 18px/1 system-ui;
	}

	.typography-body-small-700 {
		font: 700 12px/1 system-ui;
	}

	.typography-label-large-700 {
		font: 700 14px/1.43 system-ui;
	}

	.typography-label-small-700 {
		font: 700 8px/1 system-ui;
	}

	.typography-label-small-400 {
		font: 400 8px/1 system-ui;
	}
}

@layer palette {
	:root {
		--primary: light-dark(#a0d49b, #39693b);
		--on-primary: light-dark(#ffffff, #083910);
		--secondary: light-dark(#52634f, #b9ccb4);
		--on-secondary: light-dark(#ffffff, #253423);
		--tertiary: light-dark(#39656b, #a1ced4);
		--on-tertiary: light-dark(#ffffff, #00363b);
		--primary-container: light-dark(hsl(115.9 65.9% 82.7%), hsl(121.3 39.1% 22.5%));
		--on-primary-container: light-dark(#002105, #bbf0b5);
		--secondary-container: light-dark(#d5e8cf, #3b4b39);
		--on-secondary-container: light-dark(#101f10, #d5e8cf);
		--tertiary-container: light-dark(#bcebf1, #1f4d52);
		--on-tertiary-container: light-dark(#001f23, #bcebf1);
		--surface-dim: light-dark(#d7dbd3, #10140f);
		--surface: light-dark(hsl(84 55.6% 96.5%), hsl(108 14.3% 6.9%));
		--surface-bright: light-dark(#f7fbf1, #363a34);
		--surface-container-lowest: light-dark(#ffffff, #0b0f0a);
		--surface-container-low: light-dark(#f1f5ec, #181d17);
		--surface-container: light-dark(#ebefe6, #1c211b);
		--surface-container-high: light-dark(#e6e9e0, #272b25);
		--surface-container-highest: light-dark(#e0e4db, #323630);
		--on-surface: light-dark(#181d17, #e0e4db);
		--on-surface-variable: light-dark(#424940, #c2c9bd);
		--outline: light-dark(#72796f, #8c9388);
		--outline-variant: light-dark(#c2c9bd, #424940);
		--inverse-surface: light-dark(#2d322c, #e0e4db);
		--inverse-on-surface: light-dark(#eef2e9, #2d322c);
		--inverse-primary: light-dark(#9fd49c, #3b693a);
		--scrim: light-dark(#000000, #000000);
		--shadow: light-dark(#000000, #000000);
	}

	.surface {
		background: var(--surface);
		color: var(--on-surface);
	}
}

:root {
	color-scheme: light dark;
	--bar-width: 38px;
	--checker-radius: 16px;
	--checker-diameter: calc(var(--checker-radius) * 2);
	--checker-thickness: 5px;
	--checkers-per-player: 15;
	--die-side-length: 36px;
	--half-width: calc(var(--point-width) * 6);
	--half-height: calc(var(--point-height) * 2 + var(--checker-diameter) * 2 + var(--die-side-length) + 24px);
	--hold-width: calc(var(--checker-diameter));
	--point-count: 24;
	--point-per-side: calc(var(--point-count) / 2);
	--point-min: 1;
	--point-max: 24;
	--point-width: var(--checker-diameter);
	--point-height: calc(var(--checker-diameter) * 4);
}

html {
	height: 100dvb;
	font: 16px/1.5 system-ui;
}

body {
	height: 100%;
	display: flex;
	flex-direction: column;
	padding: 16px;
	gap: 8px;
}

main {
	flex:1;
	overflow: auto;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
}

body > :not(main) > * {
	padding-inline: 1rem;
	margin-inline: auto;
}

header > nav {
	& > ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1em;
		list-style-type: none;
		padding-inline: 0;
		font-weight: bold;

		& > li:first-child:has(> a[href="/index.html"]) {
			margin-inline-end: auto;
		}
	}

	a {
		&:any-link {
			color: LinkText;
		}

		&[aria-current="page"] {
			color: inherit;
			text-decoration: inherit;
		}
	}
}

button {
	cursor: pointer;

	&:disabled {
		cursor: not-allowed;
	}
}

[data-player="1"] {
	--player-current-checker-background: var(--surface-container-lowest);
	--player-current-checker-text-color: var(--on-surface);
}

[data-player="2"] {
	--player-current-checker-background: var(--on-surface);
	--player-current-checker-text-color: var(--surface-container-lowest);
}

g.checker {
	fill: var(--player-current-checker-background);
	color: var(--player-current-checker-text-color);
}

#players {
	display: flex;
	writing-mode: sideways-lr;
	gap: 8px;
}

#timer {
	display: flex;
	align-items: center;
	writing-mode: sideways-lr;
	gap: 8px;
	padding-block: 4px;
	padding-inline: 14px;
	border-radius: 8px;
	background: var(--surface-container-high);

	& > #move {
		color: var(--secondary);
	}
}

#play-mode {
	writing-mode: sideways-rl;
}

main:has(> svg[data-player="1"]) #players > veyndan-player[data-player="1"],
main:has(> svg[data-player="2"]) #players > veyndan-player[data-player="2"] {
	background: var(--primary-container);
}

main > svg {
	touch-action: none;
	max-height: 100%;
	margin-inline: 8px;
}

main:has(#play-mode > select > option[value="opposite"]:checked) > svg[data-player="2"] > foreignObject > div > #controls {
	rotate: .5turn;
}

main:has(#play-mode > select > option[value="side-by-side"]:checked) {
	flex-direction: column;

	#players, #timer, #play-mode {
		writing-mode: unset;
	}

	& > svg[data-player="1"] > foreignObject > div > #controls {
		flex-direction: row-reverse;
	}
}

#checker-background {
	cx: var(--checker-radius);
	cy: var(--checker-radius);
	r: var(--checker-radius);
}

.hold {
	--checker-radius: 14px;
	--checker-diameter: calc(var(--checker-radius) * 2);
	--gap: 1px;
	--padding: 2px;
	width: var(--hold-width);
	height: calc(var(--checkers-per-player) * var(--checker-thickness) + 2 * var(--padding) + (var(--checkers-per-player) - 1) * var(--gap));
	display: flex;
	flex-direction: column-reverse;
	justify-content: end;
	gap: var(--gap);
	padding: var(--padding);
	background: var(--secondary-container);
	border-radius: 4px;
}

#doubling-cube-face {
	--die-side-length: 28px;
	inline-size: var(--die-side-length);
	block-size: var(--die-side-length);
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 4px;
	rotate: .25turn;
	background: var(--secondary-container);
	color: var(--on-secondary-container);
}

main > svg > foreignObject {
	inline-size: calc(2 * var(--half-width) + var(--bar-width) + 24px + var(--hold-width));
	block-size: var(--half-height);

	& > div {
		position: relative;

		& > #board {
			display: flex;
			gap: 8px;

			& > .half {
				inline-size: var(--half-width);
				block-size: var(--half-height);
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				background: var(--primary-container);
				clip-path: fill-box inset(0 round 8px);

				& > .quadrant {
					display: flex;

					& > veyndan-point {
						&:nth-child(even) {
							color: hsl(from var(--secondary) h s 50%);
						}

						&:nth-child(odd) {
							color: var(--primary);
						}
					}

					&:last-of-type {
						transform: scale(-1, -1);
					}
				}
			}

			& > .bar {
				inline-size: var(--bar-width);
				background: var(--secondary-container);
				border-radius: 8px;
			}

			& > #sidebar {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: space-evenly;
			}
		}

		& > #controls {
			position: absolute;
			inset-block-start: 0;
			inline-size: calc(100% - var(--hold-width) - 8px);
			block-size: 100%;
			display: flex;
			justify-content: space-between;

			& > div {
				inline-size: var(--half-width);
				display: flex;
				align-items: center;
				justify-content: center;
				gap: 8px;
			}
		}
	}
}

#drop-points {
	translate: var(--checker-radius) -14px;
}

/*noinspection CssInvalidFunction*/
use[href="#drop-point"],
#checkers > *:not([data-hit]) {
	/* Returns 1 if the --point is in [1,12], else 0. */
	--is-bottom-point: calc(1 - var(--is-top-point));
	/* Returns 1 if the --point is in [13,24], else 0. */
	--is-top-point: round(down, calc((var(--point) - 1) / var(--point-per-side)), 1);
	/* Returns 1 if the --point is in [1,6] ∪ [19,24], else 0. */
	--is-right-point: round(down, abs(calc((var(--point-max) + var(--point-min)) / 2) - var(--point)) / 6, 1);
	--translate-x:
		calc(
			var(--is-top-point) * (var(--checker-diameter) * rem(var(--point) - 1, var(--point-per-side)))
			+ var(--is-bottom-point) * (2 * var(--half-width) - var(--checker-diameter) * (rem(var(--point) - 1, var(--point-per-side)) + 1))
			+ var(--is-right-point) * (var(--bar-width) + 16px)
		);
}

/*noinspection CssInvalidFunction*/
use[href="#drop-point"] {
	translate:
		var(--translate-x)
		calc(
			var(--is-bottom-point) * (var(--half-height) + 28px)
		);
}

/*noinspection CssInvalidFunction*/
#checkers > * {
	transition: translate .3s;

	&:not([data-permissible-destination-points="[]"]) {
		&:hover {
			cursor: pointer;
		}

		&.dragging {
			transition: filter .3s;
			cursor: move;
			filter: drop-shadow(2px 4px 4px hsl(from var(--surface) h s l / .3));
		}
	}

	&[data-permissible-destination-points="[]"]:hover {
		cursor: not-allowed;
	}

	& > text {
		fill: currentColor;
		user-select: none;
		dominant-baseline: central;
		text-anchor: middle;

		/* Hide node from accessibility tree when empty. */
		&:empty {
			display: none;
		}
	}

	&[data-hit] {
		translate: calc(var(--half-width) + 8px + (var(--bar-width) - var(--checker-diameter)) / 2) var(--translate-y);

		&[data-player="1"] {
			--translate-y: calc(var(--checker-diameter) * 2.5);
		}

		&[data-player="2"] {
			--translate-y: calc(var(--half-height) - var(--checker-diameter) * 3.5);
		}
	}

	&:not([data-hit]) {
		--top-point-translate-y: calc(var(--checker-diameter) * min(var(--point-stack-index), ((5 - 1) * var(--point-stack-index)) / max(var(--point-stack-count) - 1, 1)));
		--bottom-point-translate-y: calc((var(--half-height) - var(--top-point-translate-y) - var(--checker-diameter)));
		translate:
			var(--translate-x)
			calc(
				var(--is-top-point) * var(--top-point-translate-y)
				+ var(--is-bottom-point) * var(--bottom-point-translate-y)
			);

		--top-point-mask-position-vertical: calc(150% + -1 * round(down, calc(var(--point-stack-count) / 6), 1) * (1 - round(down, calc((var(--point-stack-index) + 1) / var(--point-stack-count)), 1)) * (105% - ((4 / max(var(--point-stack-count) - 1, 1)) * 100%)));
		--bottom-point-mask-position-vertical: calc(100% - var(--top-point-mask-position-vertical));
		mask-image:
			radial-gradient(
				black var(--checker-radius),
				transparent var(--checker-radius)
			),
			radial-gradient(
				circle at center calc(var(--is-top-point) * var(--top-point-mask-position-vertical) + var(--is-bottom-point) * var(--bottom-point-mask-position-vertical)),
				black var(--checker-radius),
				transparent var(--checker-radius)
			);
		mask-composite: subtract;
	}
}

.die {
	inline-size: var(--die-side-length);
	block-size: var(--die-side-length);
	display: grid;
	--pip-diameter: 8px;
	grid-template: repeat(3, var(--pip-diameter)) / repeat(3, var(--pip-diameter));
	align-content: center;
	justify-content: center;
	gap: 1px;
	background: var(--player-current-checker-background);
	border-radius: 4px;

	.pip {
		border-radius: 50%;
		background: var(--player-current-checker-text-color);
		visibility: hidden;
	}

	&[data-value="1"] .pip {
		&:nth-child(5) {
			visibility: visible;
		}
	}

	&[data-value="2"] .pip {
		&:nth-child(1),
		&:nth-child(9) {
			visibility: visible;
		}
	}

	&[data-value="3"] .pip {
		&:nth-child(1),
		&:nth-child(5),
		&:nth-child(9) {
			visibility: visible;
		}
	}

	&[data-value="4"] .pip {
		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(7),
		&:nth-child(9) {
			visibility: visible;
		}
	}

	&[data-value="5"] .pip {
		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(5),
		&:nth-child(7),
		&:nth-child(9) {
			visibility: visible;
		}
	}

	&[data-value="6"] .pip {
		&:nth-child(1),
		&:nth-child(3),
		&:nth-child(4),
		&:nth-child(6),
		&:nth-child(7),
		&:nth-child(9) {
			visibility: visible;
		}
	}
}

#controls button {
	padding-block: 10.5px;
	padding-inline: 21px;
	border: none;
	border-radius: 8px;
	--surface: var(--player-current-checker-background);
	--color: var(--player-current-checker-text-color);
	--alpha: 1;
	background: hsl(from var(--surface) h s l / var(--alpha));
	color: hsl(from var(--color) h s l / var(--alpha));

	&:disabled {
		--alpha: .5;
	}

	&:hover:not(:disabled) {
		--alpha: .85;
	}

	&#confirm {
		--surface: hsl(149 83% 28%);
		--color: hsl(0 0% 100%);
	}
}

#dice-container {
	inline-size: 100%;
	display: none;
	flex-direction: column;
	align-items: center;
	margin-block-end: 16px;
}

#dice-swap {
	block-size: 12px;
	margin-block: 4px;
}

#dice {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
	list-style-type: none;

	.die {
		flex: 0 1 var(--die-side-length);
		overflow: hidden;
		margin-inline: 4px;

		&:nth-child(n + 3) {
			animation: .5s .2s backwards flex-grow,
				.2s .8125s backwards fade-in;
		}
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes flex-grow {
	from {
		flex: 0;
		margin-inline: 0;
	}
	to {
		flex: 0 1 var(--die-side-length);
	}
}

.die[data-played-at] {
	opacity: .5;
}
