:root {
	color-scheme: light dark;
	--background-hsl: 216 7% 14%;
	--bar-width: 50px;
	--checker-radius: 20px;
	--checker-diameter: calc(var(--checker-radius) * 2);
	--checker-thickness: 5px;
	--checkers-per-player: 15;
	--half-width: calc(var(--point-width) * 6);
	--half-height: calc(var(--point-height) * 2 + 100px);
	--hold-width: var(--checker-diameter);
	--point-min: 1;
	--point-max: 24;
	--point-width: var(--checker-diameter);
	--point-height: calc(var(--checker-diameter) * 4);
}

*, ::before, ::after {
	box-sizing: border-box;
}

html {
	font: 16px/1.5 system-ui;
}

body {
	display: flex;
	margin: 0;
	height: 100vb;
}

svg {
	background: hsl(var(--background-hsl));
	touch-action: none;
}

#checker {
	cx: var(--checker-radius);
	cy: var(--checker-radius);
	r: var(--checker-radius);
}

#hold {
	translate: calc(var(--half-width) * 2 + var(--bar-width) + var(--hold-width) / 2 + 5px);
	width: var(--hold-width);
	height: calc(var(--checkers-per-player) * var(--checker-thickness));
}

.half {
	fill: hsl(29 86% 72%);
	clip-path: fill-box inset(0 round 4px);
}

.half > rect {
	width: var(--half-width);
	height: var(--half-height);
}

.half .quadrant:last-of-type {
	translate: 0 var(--half-height);
	rotate: x .5turn;
}

.half:last-of-type {
	translate: calc(var(--half-width) + var(--bar-width));
}

use[href="#point"]:nth-child(even) {
	--fill-color: hsl(30 100% 84%);
}

use[href="#point"]:nth-child(odd) {
	--fill-color: hsl(11 33% 29%);
}

use[href="#point"] {
	fill: var(--fill-color);
	stroke: var(--fill-color);
	translate: calc(var(--point-width) * (var(--child-index) - 1));
}

use[href="#point"]:nth-child(0) {
	--child-index: 0;
}

use[href="#point"]:nth-child(1) {
	--child-index: 1;
}

use[href="#point"]:nth-child(2) {
	--child-index: 2;
}

use[href="#point"]:nth-child(3) {
	--child-index: 3;
}

use[href="#point"]:nth-child(4) {
	--child-index: 4;
}

use[href="#point"]:nth-child(5) {
	--child-index: 5;
}

use[href="#point"]:nth-child(6) {
	--child-index: 6;
}

#drop-points {
	translate: var(--checker-diameter) 16px;
}

use[href="#hold"] {
	background: hsl(216 7% 20%);
}

use[href="#hold"]:first-of-type {
	y: calc(.25 * var(--half-height));
}

use[href="#hold"]:last-of-type {
	y: calc(.75 * var(--half-height));
}

use[href="#checker"] {
	transition: translate .3s;
	translate: calc(((var(--half-width) * 2 - (round(down, var(--point), 13) / 13) * var(--half-width) * 2) + (round(down, abs(calc((var(--point-max) + var(--point-min)) / 2) - var(--point)), 6) / 6) * var(--bar-width)) - (rem(var(--point), 13) * var(--checker-diameter)) + ((round(down, var(--point), 13) / 13) * 2 * (rem(var(--point), 13) * var(--checker-diameter)))) calc(var(--half-height) - var(--checker-diameter) - ((round(down, var(--point), 13) / 13) * (var(--half-height) - var(--checker-diameter))) + -1 * var(--point-stack-index) * var(--checker-diameter) + (round(down, var(--point), 13) / 13) * 2 * var(--point-stack-index) * var(--checker-diameter));
}

use[href="#checker"][data-movable="true"]:hover {
	cursor: pointer;
}

use[href="#checker"][data-movable="true"].dragging {
	transition: filter .3s;
	cursor: move;
	filter: drop-shadow(2px 4px 4px hsl(var(--background-hsl) / .3));
}

use[href="#checker"][data-movable="false"]:hover {
	cursor: not-allowed;
}

use[href="#checker"][data-player="1"] {
	fill: black;
}

use[href="#checker"][data-player="2"] {
	fill: white;
}

.die-pip {
	r: 4px;
	fill: white;
}

foreignObject {
	--width: 100px;
	--height: 40px;
	width: var(--width);
	height: var(--height);
	y: calc(var(--half-height) / 2 - var(--height) / 2);
}

foreignObject:first-of-type {
	x: calc(var(--half-width) * .5 - var(--width) / 2);
}

foreignObject:last-of-type {
	x: calc(var(--half-width) * 1.5 + var(--bar-width) - var(--width) / 2);
}

#undo,
#roll-dice {
	width: 100%;
	height: 100%;
	cursor: pointer;
	font-weight: bold;
	font-size: 1rem;
	padding: 0;
	border: none;
	border-radius: 4px;
}

#undo {
	display: none;
}

#dice :nth-child(1):nth-last-child(4),
#dice :nth-child(2):nth-last-child(3) {
	transition: translate .4s;
}

#dice :nth-child(2):last-child {
	translate: 50px;
}

#dice :nth-child(1):nth-last-child(4) {
	translate: -50px;
}

#dice :nth-child(2):nth-last-child(3) {
	translate: 0;
}

#dice :nth-child(3):nth-last-child(2) {
	translate: 50px;
}

#dice :nth-child(4):nth-last-child(1) {
	translate: 100px;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

#dice :nth-child(3):nth-last-child(2),
#dice :nth-child(4):nth-last-child(1) {
	animation: .2s .3125s 1 backwards fade-in;
}

.die[data-played="true"] {
	opacity: .5;
}
