:host {
	border-radius: .5em;
	background: var(--surface-container-high);
	transition: background-color 400ms;

	& > div {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: .5em .75em;

		padding-block: .5em;
		padding-inline: .75em;
	}
}

veyndan-checker {
	--checker-radius-length: .5em;
	--checker-diameter-length: calc(var(--checker-radius-length) * 2);

	justify-self: end;
}

.score {
	display: flex;
	flex-direction: column;
	justify-content: end;
}

.points {
	& > span:first-of-type > span {
		padding-inline-start: 1px;
		line-height: 2;
		color: var(--on-surface-variable);
		vertical-align: top;
	}
}

.pip {
	align-items: end;
}
