:host {
	border-radius: 1.75cqmin;
	background: var(--surface-container-high);
	transition: background-color 400ms;

	& > div {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: 1.75cqmin 2.625cqmin;

		padding-block: 1.75cqmin;
		padding-inline: 2.625cqmin;

		& > veyndan-checker {
			--checker-radius-length: 1.75cqmin;
			--checker-diameter-length: calc(var(--checker-radius-length) * 2);

			justify-self: end;
		}

		& > .score {
			display: flex;
			flex-direction: column;
			justify-content: end;
		}

		& > .points {
			& > span:first-of-type > span {
				padding-inline-start: .21875cqmin;
				line-height: 2;
				color: var(--on-surface-variable);
				vertical-align: top;
			}
		}

		& > .pip {
			align-items: end;
		}
	}
}
