:host {
	--background: var(--surface-container-high);

	border-radius: calc(8 * .21875cqmin);
	background: var(--background);
	transition: background-color 400ms;

	> div {
		display: grid;
		grid-template-columns: 1fr auto;
		gap: calc(6 * .21875cqmin) calc(8 * .21875cqmin);

		padding-block: calc(6 * .21875cqmin);
		padding-inline: calc(4 * .21875cqmin) calc(8 * .21875cqmin);

		> veyndan-checker {
			--checker-diameter-unitless: 16;

			justify-self: end;
		}

		> .score {
			display: flex;
			flex-direction: column;
			justify-content: end;
			padding-inline-start: calc(4 * .21875cqmin);
		}

		> .points {
			> span:first-of-type > span {
				padding-inline-start: .21875cqmin;
				line-height: 2;
				color: var(--on-surface-variable);
				vertical-align: top;
			}
		}

		> .pip {
			align-items: end;
		}
	}
}

::slotted([slot="name"]) {
	padding-block: calc(2 * .21875cqmin);
	padding-inline: calc(4 * .21875cqmin);
	border-radius: calc(4 * .21875cqmin);
}

::slotted([slot="name"]:hover) {
	background: hsl(from var(--background) h s calc(l - 10) / .5);
}
